---
// src/pages/blog/[slug].astro
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import Layout from "../../layouts/layout.astro";

interface Props {
  post: CollectionEntry<"blog">;
}
export const prerender = true;
export async function getStaticPaths() {
  const blogPosts = await getCollection("blog");
  return blogPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}
const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout>
  <div class="container">
    <div class="subtitle colorsecondary underlined">{post.data.title}</div>
    <img src={post.data.cover} alt="" width="1000" />
    <div class="body colorgray">
      {
        post.data.date.toLocaleDateString("en-us", {
          year: "numeric",
          month: "short",
          day: "numeric",
        })
      }
    </div>

    <div>
      <Content />
    </div>
  </div>
</Layout>
